NODE_ENV=development
PORT=

DB_HOST=
DB_PORT=
DB_USER=root
DB_PASSWORD=
DB_NAME=
DB_CONNECTION_LIMIT=10
DB_QUEUE_LIMIT=0

JWT_ACCESS_SECRET=change_me
JWT_REFRESH_SECRET=change_me
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d

ADMIN_WEB_ORIGIN=http://localhost:5173
